<div class="list-area">
    <div class="list-wrapper">
        <ul class="list"
            ng-repeat="status in storyboard.statuses">
            <h3 class="status">{{ status.name }}</h3>
            <hr/>
            <li class="story" story="story" active
                drag-container="story" mime-type="application/x-story-status"
                drop-container="" accepts="['application/x-story-status']"
                ng-repeat="story in storyboard.stories | filter: {status: status.name}"
                ng-click="storyboard.selectStory(story)">
                <div drop-target="top"
                     on-drag-enter="storyboard.insertStory(story, data, true)"
                     on-drop="storyboard.finalizeDrop(data)">
                </div>
                <div drop-target="bottom"
                     on-drag-enter="storyboard.insertStory(story, data, false)"
                     on-drop="storyboard.finalizeDrop(data)">
                </div>
            </li>
            <li class="emptystatus"
                drop-container="" accepts="['application/x-story-status']"
                on-drop="storyboard.finalizeDrop(data)"
                on-drag-enter="storyboard.changeStoryStatus(data, status)">
            </li>
        </ul>
    </div>
</div>

<div class="details">
    <h3 class="cardDetailsTitle">Szczegóły karty</h3>
    <form name="storyboard.detailsForm" novalidate="">
        <div class="form-group">
            <div class="controls">
                <label class="control-label" for="inputTitle">*Tytuł</label>
                <input id="inputTitle" type="text" name="inputTitle"
                       placeholder="Tytuł historyjki" class="form-control"
                       ng-model="storyboard.editedStory.title"
                       ng-required="true" ng-minlength="3" ng-maxlength="15"/>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <label class="control-label" for="inputStatus">*Status</label>
                <select id="inputStatus" name="inputStatus" class="form-control"
                        ng-model="storyboard.editedStory.status" ng-required="true"
                        ng-options="status.name as status.name for status in storyboard.statuses">
                    <option value="">Wybierz status</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <label class="control-label" for="inputType">*Typ</label>
                <select id="inputType" name="inputType" class="form-control" ng-required="true"
                        ng-model="storyboard.editedStory.type"
                        ng-options="type.name as type.name for type in storyboard.types">
                    <option value="">Wybierz typ</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <label class="control-label" for="inputDescription">Opis</label>
                <textarea id="inputDescription" name="inputTitle" rows="4"
                       placeholder="Opis" class="form-control"
                       ng-model="storyboard.editedStory.description">
                </textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <label class="control-label" for="inputCriteria">Kryteria akceptacji</label>
                <textarea id="inputCriteria" name="inputCriteria" rows="4"
                          placeholder="Kryteria akceptacji" class="form-control"
                          ng-model="storyboard.editedStory.criteria">
                </textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <label class="control-label" for="inputType">*Raportujący</label>
                <select id="inputReporter" name="inputReporter" class="form-control" ng-required="true">
                    <option value="">Wybierz...</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <label class="control-label" for="inputType">*Wykonujący</label>
                <select id="inputAssignee" name="inputAsignee" class="form-control" ng-required="true">
                    <option value="">Wybierz...</option>
                </select>
            </div>
        </div>
        <hr/>
        <div ng-show="storyboard.selectedStory">
            <button class="btn btn-default" ng-click="storyboard.cancelEdit()" type="reset">
                Anuluj
            </button>
            <button class="btn btn-primary"
                    ng-disabled="!storyboard.detailsForm.$valid"
                    ng-click="storyboard.updateStory()">
                Aktualizuj
            </button>
        </div>
        <div ng-show="!storyboard.selectedStory">
            <button class="btn btn-default"
                    ng-disabled="!storyboard.detailsForm.$valid"
                    ng-click="storyboard.createStory()">Utwórz
            </button>
        </div>
    </form>
</div>



















