<div class="list-area">
    <div class="list-wrapper">
        <ul class="list"
            ng-repeat="status in storyboard.statuses">
            <h3 class="status">{{ status.name }}</h3>
            <hr/>
            <li class="story"
                ng-repeat="story in storyboard.stories | filter: {status: status.name}">
                <article>
                    <div>
                        <button type="button" class="close">x</button>
                        <p class="title">{{ story.title }}</p>
                    </div>
                    <div class="type-bar {{ story.type }}"></div>
                    <div>
                        <p>{{ story.description }}</p>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</div>

<div class="details">
    <h3>Szczegóły karty</h3>
    <form name="storyboard.detailsForm" novalidate="">
        <div class="form-group">
            <div class="controls">
                <label class="control-label" for="inputTitle">*Tytuł</label>
                <input id="inputTitle" type="text" name="inputTitle"
                       placeholder="Tytuł historyjki" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <label class="control-label" for="inputStatus">*Status</label>
                <select id="inputStatus" name="inputStatus" class="form-control">
                    <option value="">Wybierz status</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <label class="control-label" for="inputType">*Typ</label>
                <select id="inputType" name="inputType" class="form-control">
                    <option value="">Wybierz typ</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <label class="control-label" for="inputDescription">Opis</label>
                <textarea id="inputDescription" name="inputTitle" rows="4"
                       placeholder="Opis" class="form-control">
                </textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <label class="control-label" for="inputAcceptance">Kryteria akceptacji</label>
                <textarea id="inputAcceptance" name="inputAcceptance" rows="4"
                          placeholder="Kryteria akceptacji" class="form-control">
                </textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <label class="control-label" for="inputType">*Raportujący</label>
                <select id="inputReporter" name="inputReporter" class="form-control">
                    <option value="">Wybierz...</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <label class="control-label" for="inputType">*Wykonujący</label>
                <select id="inputAssignee" name="inputAsignee" class="form-control">
                    <option value="">Wybierz...</option>
                </select>
            </div>
        </div>
    </form>
</div>



















